@page
@model WebEventManager.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="row" style="display: flex; align-items:stretch; background-color: white; margin-top: 20px;">
    <div style="display: flex;justify-content: space-between;overflow: hidden;height: 90px; padding:0;">
        <h1 class="d-flex justify-content-center align-items-center" style="padding: 10px;width: 25%;background-color: #1f59a0;color: rgb(255,255,255);height: 100%;">Ürituse lisamine</h1>
        <div style="width: 75%;height: auto;margin: 0;"><img src="~/images/libled.jpg" style="width: 100%;height: auto;object-fit: cover;"></div>
    </div>
    <div class="d-flex justify-content-center" id="BIG-DIV">
        <div class="d-flex flex-column align-items-start" id="Header-and-input-fields" style="width: 450px;">
            <div class="row" id="header" style="width: 100%;margin-top: 25px;margin-right: 0;margin-left: 0;margin-bottom: 25px;">
                <div class="col">
                    <h4 style="color: #1f59a0">Ürituse lisamine</h4>
                </div>
            </div>
        
        <form method="post" style="width: 100%;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                <div class="col" style="display:flex">
                    <label asp-for="Event.Name" class="control-label" style="width: 30%;">Ürituse nimi:</label>
                    <input asp-for="Event.Name" class="form-control" style="width: 70%;" />
                </div>
                    <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                <div class="col" style="display:flex">
                    <label asp-for="Event.DateTime" class="control-label" style="width: 30%;">Toimumisaeg:</label>
                    <input asp-for="Event.DateTime" class="form-control" style="width: 70%;" />
                </div>
                <span asp-validation-for="Event.DateTime" class="text-danger"></span>
            </div>
            <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                <div class="col" style="display:flex">
                    <label asp-for="Event.Place" class="control-label" style="width: 30%;">Koht:</label>
                    <input asp-for="Event.Place" class="form-control" style="width: 70%;" />
                </div>
                    <span asp-validation-for="Event.Place" class="text-danger"></span>
            </div>
            <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px; margin-bottom: 50px;">
                <div class="col" style="display:flex">
                    <label asp-for="Event.AdditionalInformation" class="control-label" style="width: 30%;">Lisainfo:</label>
                    <textarea asp-for="Event.AdditionalInformation" class="form-control" rows="2" style="width: 70%;"></textarea>
                </div>
                    <span asp-validation-for="Event.AdditionalInformation" class="text-danger"></span>
            </div>
            <div class ="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px; margin-bottom: 20px;">
                <div class="col" style="display:flex">
                    <a asp-page="../Index" class="btn btn-secondary" style="margin-right: 10px;">Tagasi</a> <input type="submit" value="Lisa" class="btn btn-primary" />
                </div>
            </div>
            
        </form>
    </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
