@page
@model WebEventManager.Pages.PrivatePeople.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<div class="row" style="display: flex; align-items:stretch; background-color: white; margin-top: 20px;">
    <div style="display: flex;justify-content: space-between;overflow: hidden;height: 90px; padding:0;">
        <h1 class="d-flex justify-content-center align-items-center" style="padding: 10px;width: 25%;background-color: #1f59a0;color: rgb(255,255,255);height: 100%;">Kustuta</h1>
        <div style="width: 75%;height: auto;margin: 0;"><img src="~/images/libled.jpg" style="width: 100%;height: auto;object-fit: cover;"></div>
    </div>
    <h3 style="color: #1f59a0; padding:10px;">Kas oled kindel et tahad seda kustutada?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Nimi:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrivatePerson.FullName)
            </dd>
            <dt class="col-sm-2">
                Isikukood:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrivatePerson.PersonalID)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="PrivatePerson.PrivatePersonID" />
            <div class="col" style="display:flex; padding-bottom: 15px;">
                <a asp-page="../Index" class="btn btn-secondary" style="margin-right: 10px;">Tagasi</a> <input type="submit" value="Kustuta" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
